<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307535235400-187qilo3l0dj9gru7hmjm6v5vco6phog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307535235400-187qilo3l0dj9gru7hmjm6v5vco6phog</string>
	<key>API_KEY</key>
	<string>AIzaSyAhDRua9TS63QQwZi4ONngNX81b_ARncjs</string>
	<key>GCM_SENDER_ID</key>
	<string>307535235400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kylesolomons.billmate</string>
	<key>PROJECT_ID</key>
	<string>bill-mate-e737c</string>
	<key>STORAGE_BUCKET</key>
	<string>bill-mate-e737c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307535235400:ios:2810e039ec09f752160b7d</string>
</dict>
</plist>